<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Ritzy.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>527C42161D81C56900F2E020</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>527C422A1D81C56A00F2E020</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>527C42351D81C56A00F2E020</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
